@using site.Controllers
@model site.ViewModels.ProjectViewModel;
@{
    Layout = "_Header_Footer";
}

<section class="add">
    <div class="container">
        <h2 class="h2-common">Добавление нового проекта</h2>
        <form asp-action="Add" asp-controller="Project" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger">
                @if (ViewBag.ImageError != "")
                {
                    <span>@ViewBag.ImageError</span>
                    ViewBag.ImageError = "";
                }
            </div>
            
            <label >Название проекта</label>
            <input type="text" asp-for="Title" required>

            <label >Обложка проекта</label>
            <input type="file" asp-for="Cover" required>

            <label >Описание проекта</label>
            @Html.TextAreaFor(n => n.Description)
            <label >Изображения для слайдера (через пробел)</label>
            <input type="file" asp-for="SliderImages" multiple>

            <label>Технологии</label>

            @foreach (var spec in MainController.db.Specialities)
            {
                string _id = $"spec{spec.SpecialityId}";
                <div class="checkbox">
                    <input type="checkbox" value="@spec.SpecialityId" name="Specs" id="@_id" >
                    <label for="@_id">@spec.Name</label>
                </div>
            }
            
            

            <label>Ссылки на проект</label>
            <div class="group-col">
                <input type="text">
                <input type="text">
            </div>

            <label>Команда проекта</label>

            @foreach (var u in MainController.db.Users)
            {
                string _id = $"u{u.Id}";
                <div class="checkbox">
                    <input type="checkbox" value = "@u.Id" id = "@_id" name = "Members" >
                    <label for = "@_id">@u.Name @u.Surname</label>
                </div>
            }
            
         
            <input type="submit" class="bttn-dark">
        </form>
    </div>
</section>