@model site.ViewModels.EditProjectViewModel

@{
    List<Speciality> specialities = ViewBag.Specialities;
    List<User> users = ViewBag.Members;
    List<string> links = Model.Links;
    
    Layout = "_Header_Footer";
}

<section class="edit">
    <div class="container">
        <div class="h2-common">Редактирование проекта</div>
        <form asp-action="Edit" asp-controller="Project" class = "edit-form" enctype="multipart/form-data">
            <div class="edit__group">
                <label for="">Название проекта</label>
                <input type="text" asp-for="Name">
                <input type="hidden" value="@Model.ProjectUId" name="ProjectUId"/>
            </div>

            <div class="edit__group">
                <label for="">Описание проекта</label>
                <textarea name = "Description">@Model.Description</textarea>
            </div>
            
            <div class="edit__group">
                <label>Текущая обложка</label>
                <img src="@Model.CoverPath" style="width: 100%; margin-bottom: 10px">
                <label for="">Сменить обложку проекта</label>
                @Html.EditorFor(u => u.NewCover)
            </div>
            
            
            <div class="edit__group">
                <label>Фотографии в слайдере</label>
                <div class="edit__group__slider">
                    @foreach (var slider in Model.SliderImagesPreview)
                    {
                        <div class="item">
                            <img src="@slider" alt="@slider">
                            <input type="hidden" name="OldSliderImages" value="@slider"/>
                        </div>
                    }
                </div>
                <label for="">Добавить НОВЫЕ фотографии в слайдер</label>
                @Html.EditorFor(u => u.SliderImages)
            </div>
            
            <div class="edit__group" id = "addProjectContainer">
                <label for="">Ссылки на проект</label>
                @if (links != null && !links.IsEmpty())
                {
                    foreach (var link in links)
                     {
                         <input type="text" name = "Links" value="@link">
                     }
                }
                
                

            </div>
            <button class = "bttn-light" id = "addProject">Добавить ссылку</button>
            
            <div class="edit__group">
                <label for="">Технологии</label>
                <select id="select" multiple="multiple" name = "Specialities">
					
				
                    @foreach (var spec in specialities)
                    {
                        if (Model.Specialities.Contains(spec.SpecialityId))
                        {
                            @spec.Name
                            <option value="@spec.SpecialityId" selected>
                                @spec.Name
                            </option>
                        }
                        else
                        {
                            <option value="@spec.SpecialityId">
                                @spec.Name
                            </option>
                        }
 					
                    }
                </select>
            </div>

            <div class="edit__group">
                <label for="">Лидер проекта</label>
                <select id="selectLeader" name = "Leader">
					
				
                    @foreach (var user in users)
                    {
                        if (Model.Leader == user.Id)
                        {
                            <option value="@user.Id" selected>
                                @user.Name @user.Surname @user.Position
                            </option>
                        }
                        else
                        {
                            <option value="@user.Id">
                                @user.Name @user.Surname @user.Position
                            </option>
                        }
 					
                    }
                </select>
            </div>
            
            
            <div class="edit__group">
                <label for="">Команда проекта</label>
                <select id="selectUsers" multiple="multiple" name = "Members">
					
				
                    @foreach (var user in users)
                    {
                        if (Model.Members.Contains(user.Id))
                        {
                            <option value="@user.Id" selected>
                                @user.Name @user.Surname @user.Position
                            </option>
                        }
                        else
                        {
                            <option value="@user.Id">
                                @user.Name @user.Surname @user.Position
                            </option>
                        }
 					
                    }
                </select>
            </div>

            <input type="submit" value="Сохранить" class="bttn-dark" />
        </form>
    </div>
</section>