@using site.Controllers
@model Project
@{
    Layout = "_Header_Footer";
    Project project = Model;
    ViewBag.Title = project.Name;
    List<User> users = new List<User>();
    User leader = project.Leader;
    if (project.Members != null)
    {
        users = project.Members.Select(u => u.User).Where(i => i.Id != project.Leader.Id).ToList();
    }
    string[] images = project.SliderImages.Split(":");
}

<section class="project">
    <div class="container">

        @if (ViewBag.nikita  == "87759cdf-3b58-483b-a738-f79a051bac23" || ViewBag.CurrentUserId == "4d980ae0-2592-43fa-a2c1-35f8789102b7")
        {

            <a href="#deleteModal" class="delete">удолить</a> 
            <div id="deleteModal">
                <div  class="modal">

                    <form asp-controller="Project" asp-action="Delete">
                        <a href="#close" class = "close">Закрыть окно</a>
                        <input type="hidden" name = "id" value = @project.ProjectId />
                        <input type="submit" value="удолить" class = "bttn-delete" />
                    </form>
                </div>

            </div>
        }
        
        <div class="project__cover">
            <img src="@project.Img" alt="projectCover" />
        </div>
        <h1 class="project__title">@project.Name</h1>
        <div class="project__info">
            <div class="project__text">
                <h2>Описание</h2>
                <p>@project.Description</p>
                <h2>Технологии</h2>

                <p>@String.Join(", ", project.Specialities.Select(s => s.Speciality).Select(s => s.Name))</p>
                @if (project.Links.Count != 0)
                {
                    <h2>Ссылки на проект</h2>
                    <div class="project__links">
                        @foreach (var pr in project.Links)
                        {
                                <a href="@pr.Href">@pr.Href</a>
                        }


                    </div>
                }

            </div>
            <div class="project__slider">
                <div class="owl-carousel owl-theme">
                    @foreach (string img in images)
                    {
                        <img src="@img" alt="картинка для слайдера" />
                    }


                </div>
            </div>
        </div>
        


    </div>
</section>
<section class="team">
    <h2 class="h2-common">Наша команда</h2>
    <div class="container">
        <div class="team__list">
            @(await Html.PartialAsync("Leader", leader))
            @(await Html.PartialAsync("Members", users))
        </div>
    </div>

</section>

