@using site.Controllers
@model IEnumerable<site.Models.User>
@{
    User[] users = Model.ToArray();
}

@for (int i = 0, len = users.Length; i < len; i += 1)
{
    <div class="team__list__inner">
        <div class="left">
            <img src="@users[i].Photo" alt="" class="photo">
            <div class="links">
                @foreach (var social in users[i].Links)
                {
                    <a href="@social.Href">
                        @* <img src = "@social.Type.Pic"> *@
                    </a>
                }
               
            </div>
        </div>
        <div class="right">
            <span class="name">@users[i].Name</span>
            <span class="position">@users[i].Position @*| 8 years of experience*@</span>
            <span class="email">@users[i].Email</span>
            <p class="description">@users[i].Description</p>
            @Html.ActionLink("Подробнее", "Profile", "Account", new {id=@users[i].Id} )
        </div>
    </div>
}