@using site.Controllers
@model IEnumerable<site.Models.Project>

@{
	Project[]	pr = Model.ToArray();

	
}



	
		@for (int i = 0, len = pr.Length; i < len; i += 2)
		{
			<div class="row">
				@if (i < len)
				{
					<div class="col-6">
						<div class="projects__item">
							<div class="left">
								<img class="left__img" src="@pr[i].Img" alt="">
							</div>
							<div class="right">
								<div class="projects__title">
									<span class="type">@pr[i].Name</span>
									<span class="date">September, 12, 2017</span>
								</div>
								<span class="name">@pr[i].Name</span>
								<div class="comp-more">
									<span class="company">Diffind</span>
									<a href="">Learn more</a>
								</div>

							</div>
						</div>
					</div>
				}

				@if (i + 1 < len)
				{
					<div class="col-6">
						<div class="projects__item">
							<div class="left">
								<img class="left__img" src="@pr[i + 1].Img" alt="">
							</div>
							<div class="right">
								<div class="projects__title">
									<span class="type">@pr[i + 1].Name</span>
									<span class="date">September, 12, 2017</span>
								</div>

								<span class="name">@pr[i + 1].Name</span>
								<div class="comp-more">
									<span class="company">Diffind</span>
									<a href="">Learn more</a>
								</div>
							</div>
						</div>
					</div>
				}

			</div>
		}

	
